*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pd-sm{
    padding: 10px;
}
.pd-xl{
    padding: 30px;
}
.txt-md{
  font-size: 16px;
  text-decoration: none;
}
.txt-lg{
  font-size: 18px;
  text-decoration: none;
}
.color-primary{
    color: white;
    background-color: #333;
}
.display-block{
    display: flex;
}
.flex-center{
    align-items: center;
    justify-content: space-between;
}
.margin-sm{
    margin: 8px;
}